.main-btn {
    border: none;
    outline: none;
    background-color: var(--btn-color);
    padding: 1rem 2rem;
    border-radius: 10rem;
}
.mb-xsm {margin-bottom: 1rem;}
.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 4rem;}
.mb-lg {margin-bottom: 6rem;}
.mb-huge {margin-bottom: 8rem;}